.reactangle_purchase{

    background: rgb(187, 252, 108);
    height: 150px;
    width: 350px;
    border-radius: 30px;
    border: ridge 5px rgb(39, 185, 80);
    margin-top: 50px;
    margin-left: 100px;
    text-decoration: none;
    color: white;
    
}
.reactangle_purchase:hover {
    transform: scale(1.05); /* Increase size by 5% on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out; /* Add a smooth transition */
}
.rectangle_writeoff:hover {
    transform: scale(1.05); /* Increase size by 5% on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out; /* Add a smooth transition */
}.rectangle_buyback:hover {
    transform: scale(1.05); /* Increase size by 5% on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out; /* Add a smooth transition */
}.rectangle_maintainance:hover {
    transform: scale(1.05); /* Increase size by 5% on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out; /* Add a smooth transition */
}
.common_link{
    text-decoration: none;
}
.body{
    padding: 30px;
    width: 100%;
    height: 100vh;
    flex: 0.9;
    color: white;
    /* background: linear-gradient(rgb(92, 201, 255), rgb(237, 197, 204)); */
    overflow-y: overlay;
    background-image: url('../img/inventory_mgmt_background_img.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /* Add this line */

}

.row_1_rectangle{
    display: flex;
}
.row_2_rectangle{
    display: flex;
}

.h1_text{
    margin-bottom: 10px;
    color: black;
    /* font-family: 'Abril Fatface', cursive; */
    font-family: 'Kablammo', cursive;

}
.rectangle_writeoff{
    background: rgb(249, 204, 254);
    height: 150px;
    width: 350px;
    border-radius: 30px;
    border: ridge 5px rgb(104, 23, 242);
    margin-top: 100px;
    margin-left: 100px;
    text-decoration: none;
    color: white;
}
.rectangle_maintainance{
    
    background: rgb(192, 147, 247);
    height: 150px;
    width: 350px;
    border-radius: 30px;
    border: ridge 5px rgb(120, 98, 208);
    margin-left: 150px;
    text-decoration: none;
    margin-top: 100px;
}
.rectangle_buyback{    

    background: rgb(252, 193, 141);
    height: 150px;
    width: 350px;
    border-radius: 30px;
    border: ridge 5px rgb(10, 10, 10);
    margin-left: 150px;
    margin-top: 50px;
}
.shopIcon{
    color: rgb(26, 51, 75);
    margin-top: 20px;
}
.buyBack{
    color: aquamarine;
    margin-top: 20px;
}.writeoff{
    color:blueviolet;
    margin-top: 20px;
}
.maintainance{
    color: rgb(32, 32, 32);
    margin-top: 20px;
}