/* NotFound.css */
.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .not-found-content {
    width: 700px;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .not-found-title {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .not-found-text {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .not-found-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .not-found-link:hover {
    background-color: #0056b3;
  }

  .not-found-image {
    border: 2px solid rgb(186, 184, 184);
   height: 250px;
   width: 400px;
  }